@model List<Restorant_Sitesi.Models.DUYURULABLOGLAR>
@{
    ViewBag.Title = "Bloglar";
    Layout = "~/Views/Shared/RestourantLayout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-5">
                <h1 class="mb-2 bread"> Bloglar & Duyurular</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/Index/Index">Ana Sayfa <i class="fa fa-chevron-right"></i></a></span>
                    <span>Blog & Duyuru<i class="fa fa-chevron-right"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var x in Model)
            {
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="/Index/DUYURULABLOGLARDETAY/@x.DuyuruID" class="block-20" style="background-image: url('../../@x.Resim');">
                        </a>
                        <div class="text px-4 pt-3 pb-4">
                            <div class="meta">
                                <div><a href="/Index/DUYURULABLOGLARDETAY/@x.DuyuruID">@x.Tarih</a></div>
                                <div><a href="/Index/DUYURULABLOGLARDETAY/@x.DuyuruID">@x.Yazar</a></div>
                            </div>
                            <h3 class="heading"><a href="/Index/DUYURULABLOGLARDETAY/@x.DuyuruID">@x.Baslik</a></h3>
                            <p class="clearfix">
                                <a href="/Index/DUYURULABLOGLARDETAY/@x.DuyuruID" class="float-left read btn btn-primary">Devamı</a>
                                <a href="/Index/DUYURULABLOGLARDETAY/@x.DuyuruID" class="float-right meta-chat"><span class="fa fa-comment"></span> @x.DUYURUBLOGYORUMLARI.Count()</a>
                            </p>
                        </div>
                    </div>
                </div>
            }

            
        </div>
        <div class="row no-gutters my-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
     </div>
</section>